body {
    font-family: 'Kaushan Script', cursive; /* Google font */
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4e1;
    height: 350px;
}

header {
    background-color: #000;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.container {
    display: flex;
    width: 95%;
    margin: auto;
    overflow: hidden;
    text-transform: uppercase;
}

.title {
    color: red;
    flex: 1;
    font-size: 45px;
    padding: 18px;
}

.menu {
    flex: 6;
}

.menu ul {
    display: flex;
    margin-top: 30px;
    
}

.menu ul li {
    /* flex: 1; */
    flex-grow: 0.1;
    
}
.menu ul li a:hover{
    color: red;
}
.menu ul li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
main{
    margin: .5vw;
    font-size: 0;
    flex-direction: column;
    flex-flow: row wrap;   
    display:flex; 
}

main div{
    flex: auto;
    width: 150px;
    margin: 30px;
}
main div img {
    width: 100%;
    height: auto;
    transition: transform .5s;
}
main div img:hover{
    transform: scale(1.3);
  }
@media all and (max-width: 700px) {
    .menu {
        display: none;
    }
    header{
        text-align: center;    
    }
    main div{
        margin: 30px;
    }
    main{
        padding: 0;
    }
}